.container--large {
  max-width: 1500px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* header section */

.header {
  background-color: #ffffff;
}

.header--bar {
  padding: 2rem 0rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header--bar h2 {
  text-align: left;
  text-size-adjust: 50px;
}

.header--bar--logo {
  height: 3.5rem;
  width: 3.5rem;
}

.header--bar--nav ul {
  display: flex;
  gap: 2rem;

  list-style-type: none;
}

.header--bar--nav ul li {
  font-weight: 800;
}

.header--bar--nav ul li a {
  color: #e0e1dd;
  text-decoration: none;
}

.header--bar--nav ul li a:hover {
  text-decoration: underline;
}

.logo {
  width: 100px;
  float: left;
  padding:10px;
  overflow:hidden;
  position:static;
}

body {
  color: #003049;
  font-family: sans-serif;
  background-color: #ffffff;
}


footer {
  background-color: #202020;
  padding: 2rem;
  text-align: center;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

.logo2 {
  width: 100px;
  padding:10px;
  overflow:hidden;
  position:static;
}

footer p {
  padding: 2rem;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  width: 100%;
}

