/* Containers */

.container--large {
  max-width: 1500px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* header section */

.header {
  background-color: #ffffff;
}

.header--bar {
  padding: 2rem 0rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header--bar--logo {
  width: 100px;
  float: left;
  padding:10px;
  overflow:hidden;
  position:static;
}

.header--bar--nav ul {
  display: flex;
  gap: 2rem;

  list-style-type: none;
}

.header--bar--nav ul li {
  font-weight: 800;
}

.header--bar--nav ul li a {
  color: #e0e1dd;
  text-decoration: none;
}

.header--bar--nav ul li a:hover {
  text-decoration: underline;
}

body {
  color: #003049;
  font-family: sans-serif;
  background-color: #ffffff;
}

/*footer section */

footer {
  padding: 4rem 0 4rem 0;
  background-color: #000000;
  color: #e0e1dd;
  text-align: center;
}

.footer--logo {
  display: block;
  width: 100px;
  padding: 2rem 0rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
}